<div app-theme class="col col-12">
  <div class="main container col col-12">


      <nav class="navbar ">
        <a class="navbar-brand">
          Where in the World?
        </a>
        <div class="btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="checkbox" (click)="toggle()" > Dark
            Mode
          </label>
        </div>
      </nav>

    <body>





      <router-outlet  ></router-outlet>
    </body>
    <footer>

    </footer>
  </div>
</div>
