<!-- <div app-theme class="col col-12">
  <div class="main container col col-12"> -->
      <nav class="navbar main " app-theme>
        <a class="navbar-brand">
          Where in the World?
        </a>
        <div class="btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="checkbox" (click)="toggle()" >
            <span *ngIf="dark" class="material-icons">
              nightlight_round
              </span>
              <span *ngIf="!dark" class="material-icons">
                brightness_5
                </span>
            Dark
            Mode
          </label>
        </div>
      </nav>
    <body>
      <mat-card>
        <router-outlet  ></router-outlet>
      </mat-card>
    </body>
    <footer>
    </footer><!--
  </div>
</div> -->
